////////////////////////
// Header Styling
////////////////////////

.front .header {

}

.header {
	
}

#head-back {
	background: url('../images/sample/School-Lemba.jpg') no-repeat;
	background-size: 100%;
	height: 522px; 
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

#name-and-slogan {
	background: #009100;
	padding: 25px 0 25px 50px;
	max-width: 370px;
	font-family: 'Ropa Sans';
	#site-name {
		color: #fff;
		font-size: 300%;
		font-style: italic;
		font-weight: 400;
		line-height: 1em;
	}
	#site-slogan {
		color: #CEE3CE;
		font-size: 300%;
		font-weight: 400;
		line-height: 0.85em;
		letter-spacing: 0.6pt;
	}

}
.not-front #name-and-slogan {
	padding: 25px 0 6px 50px;
	max-width: 370px;
	span.border__name-and-slogan {
		background: none repeat scroll 0 0 #FFFFFF;
		display: block;
		height: 5px;
		margin: 25px 0 0 -50px;
		padding-right: 34px;
		width: 386px;
	}	
}