////////////////////////
// Islandora Styling
////////////////////////

// Simple Search //
#block-islandora-solr-simple {
	float: left;
	background: #fff;
	width: 43%;
	h2 {

	}

	.form-text {
	}
	.form-submit {

	}
	.adv_search {
		display: block;
	}
}