////////////////////////
// Islandora Styling
////////////////////////

// Simple Search //
#block-islandora-solr-simple {
	float: left;
	background: #fff;
	width: 29.7em;
	padding: 20px 30px;
	margin: 0;
	height: 151px;
	h2 {
		margin-bottom: 10px;
	}

	.form-text {
		width: 85%;
		height: 40px;
		border: 1px solid #000;
		border-radius: 3px 0 0 3px;
	}
	.form-submit {
		background-color: #050505;
		border: medium none;
		border-radius: 0 2px 2px 0;
		color: #000000;
		cursor: pointer;
		font-size: 0;
		height: 40px;
		margin: 0 0 0 -6px;
		transition: background-color 0.2s ease 0s;
		vertical-align: top;
		width: 36px;
		position: relative;
		background-image: url("../images/icons/sprite.png");
		background-position: -181px 6px; 
	}

	.form-submit:after {
		content: " ";
		height: 25px;
		left: 11px;
		margin: 0;
		position: absolute;
		top: 9px;
		width: 21px;
		z-index: 0;
	}
	.form-submit:hover {
		background-color: #383838;
	}

	.adv_search {
		font-size: 85%;
		font-style: italic;
		font-family: 'Ropa Sans',Arial;
		display: block;
		float: right;
		position: relative;
		right: 55px;
		margin-top: 10px;
		text-decoration: underline;
		color: #4D4D4D;
	}
	.adv_search:hover {
		color: #00A600;
	}
}

#block-block-2 {
	.adv_search {
		display: none;
	}
}

.simple-search {
	width: 50%;
	padding: 20px 30px;
	margin: 25px 0 0;
	position: absolute;
	left: -25px;
	float: left;

	.form-text {
		width: 85%;
		height: 50px;
		border: 1px solid #000;
		border-radius: 3px 0 0 3px;
	}
	.form-submit {
		background-color: #050505;
		border: medium none;
		border-radius: 0 2px 2px 0;
		color: #000000;
		cursor: pointer;
		font-size: 0;
		height: 50px;
		margin: 0 0 0 -3px;
		transition: background-color 0.2s ease 0s;
		vertical-align: top;
		width: 70px;
		position: relative;
	}
	.form-submit:after {
		background: url("../images/icons/sprite.png") no-repeat scroll -187px -1px transparent;
		content: " ";
		height: 25px;
		left: 11px;
		margin: 0;
		position: absolute;
		top: 9px;
		width: 21px;
		z-index: 0;
	}
	.form-submit:hover {
		background-color: #383838;
	}
}

// Sidebar - Facets - Sort - Query //

.sidebar .block-islandora-solr {

}

// User Login Page //

#user-login-container {
	float: left;
	background: #009100;
	color: #fff;
	max-width: 33%;
	padding: 30px 25px;
	min-height: 350px;
	h2 {
		font-size: 190%;
	}
	a {
		color: #fff;
		font-size: 80%;
		letter-spacing: 0.3pt;
		text-decoration: underline;
		display: block;
		margin-top: 20px;
	}

	label {
		font-weight: normal;
		font-size: 80%;
		letter-spacing: 0.3pt;
	}
	.description {
		display: none;
	}
	.form-submit {
		border: medium none;
		border-radius: 2px 2px 2px 2px;
		display: inline-block;
		font-size: 14px;
		font-weight: bold;
		height: 28px;
		line-height: 25px;
		padding: 5px 32px;
		position: relative;
		text-align: left;
		text-decoration: none;
		transition: all 0.4s ease 0s;
		width: auto;
		z-index: 1;
		height: 41px;

		background: none repeat scroll 0 0 #FFFFFF;
		color: #009100;
	}
	.form-text {
		background-color: #FAFAFA;
		border-color: #BDBDBD #BDBDBD #C9C9C9;
		border-style: solid;
		border-width: 1px;
		color: #000000;
		font-family: Arial,Helvetica,sans-serif;
		font-size: 13px;
		font-style: normal;
		font-weight: 400;
		height: 40px;
		line-height: 22px;
		padding: 4px;
		width: 300px;

		border-radius: 3px 3px 3px 3px;
		margin-bottom: 10px;
		padding: 10px !important;
		width: 90%;
	}
}

#user-register-form-container {
	@extend #user-login-container;
	background: #fff;
	color: #000;

	a {
		color: #009100;
	}
	.form-submit {
		background: linear-gradient(to bottom, #009900 0%, #009100 22%) repeat scroll 0 0 transparent;
		color: #fff;
	}
}

#islandora-solr-top {
  clear: both;
  position: relative;
  top: -42px;
  border-bottom: 2px solid #009100;
  padding-bottom: 10px;
  z-index: 5;
  #islandora-solr-result-count {
  	font-size: 75%;

  }
}

// Solr Display //
#block-islandora-solr-display-switch {
  float: right;
  clear: left;
  position: relative;
  top: 17px;
  left: -20px;
  opacity: 1;
  z-index: 15;

  h2 {
  	font-size: 80%;
  	color: #777;
  	display: inline;
  }
  ul {
  	display: inline;
  	float: left;
  }
  div {
  	float: right;
  	display: inline;
  }
}

.block-islandora-solr ul {
  margin: 0.5em 0 0;
  padding: 0 !important;
  li {
          border-bottom: 1px solid #EEF0ED;
          list-style: none outside none;        
          padding: 3px 0;
  }
  li.last {
          border: 0;
  }
}

#block-islandora-solr-display-switch ul li {
  float: left;
  margin: 3px;
}

.islandora-solr-display a.display-default, .islandora-solr-display a.display-grid, .islandora-solr-display a.display-table,
.islandora-view-grid, .islandora-view-list {
  background: url("../images/icons/sprite.png") no-repeat scroll left top transparent;
  display: inline-block;
  height: 16px;
  outline: medium none;
  text-indent: -9999px;
  width: 16px;
}

.islandora-solr-display a.display-grid, .islandora-view-grid {
  background-position: -240px -16px;
}

.islandora-solr-display a.display-table, .islandora-view-list {
  background-position: -240px -32px;
}

.islandora-basic-collection-display-switch {
        opacity: 0.5;
        li {
                padding: 0;
        }        
}

.islandora-basic-collection {
	width: auto;
}

// Delfdora Over Rides //

#filters h2 {
	font-weight: normal;
	font-size: 125%;
	letter-spacing: 0.5pt;
}

#block-islandora-solr-sort  {
	h2 {
		font-size: 125%;
		text-transform: uppercase;
		letter-spacing: 0.5pt;
	}
	ul.islandora-solr-sort {
		border-top: 2px solid #009100;
		list-style: none outside none;
		margin: 0;
		padding: 10px 0 0;
		li {
			font-size: 85%;
		}
	}

}

// Islandora Object Pages //

.islandora-basic-image-object {
	.islandora-basic-image-content-wrapper {
		float: left;
		.islandora-basic-image-content {
			width: auto !important;
		}
	}
	.islandora-basic-image-metadata {
		width: 33%;
		float: left;
		clear: none;
		margin-left: 2em;
		fieldset {
			border: 0 none;
		}
		.fieldset-wrapper {
				font-family: 'Ropa Sans',Arial;
				font-size: 15px;
			dt {
				border-top: 1px dotted #707070;
				color: #6F6F6F;
				font-weight: 400;
				text-align: left;
				border-spacing: 0;
				padding: 6px 0 7px;
				text-align: left;
				vertical-align: top;
			}
			dd {
				border-top: 1px dotted #707070;
				color: #222;
			}
			dd.first, dt.first {
				border: 0 none;
			}
		}
	}
}
fieldset.collapsible {
	border: none;	
}

// My account page -- Bookmark lists //

#islandora-bookmark-detailed-overview {
	background: #fff;
	#islandora-bookmark-detailed-list {
		fieldset {
			border: 0 none;
			.fieldset-wrapper {
				border-top: 2px solid #009100;			
				h3 {
				  display: block;
				  font-family: 'Ropa Sans',Arial;
				  font-size: 24px;
				  font-weight: 400;
				  margin-bottom: 0.5em;
				}
				label {
					text-transform: uppercase;
					color: #777;
					font-size: 67%;
				}
				.form-item-bookmarks-fieldset-export-options {
					margin-top: 0;
				}
			}
			table {
				width: 100%;
				margin-top: 0;
				tr {
					height: 3em;
					th {
						font-size: 67%;
						text-transform: uppercase;
						color: #777;
						text-shadow: 0 1px 0 #FFFFFF;
					}
					td {
							font-size: 90%;
						a:link, a:visited {
							color: #009100;
							text-decoration: underline;
						}	
						a:hover, a.active {
							color: #00A600;	
						}
					}
					td.operations {
						input {
							background: url("../images/icons/sprite.png") no-repeat scroll -77px -110px;
							color: #818181;
							display: inline-block;
							height: 27px;
							opacity: 0.75;
							padding-left: 8px;
							position: relative;
							text-align: center;
							text-decoration: none;
							text-indent: -999em;
							transition: all 0.2s ease 0s;
							width: 37px;
							border: 0 none;
							border-left: 1px solid #ccc;
							border-right: 1px solid #ccc;
						}
						input:hover {
							opacity: 1;
						}
					}
				}
			}
		}
		legend {
			display: none;
		}
	}
	#edit-bookmarks-users {
		a.fieldset-title:link, a.fieldset-title:visited {
		color: #009100;
		text-decoration: underline;
		}	
		a.fieldset-title:hover {
			color: #00A600;	
		}
		#edit-bookmarks-users-empty {
			margin: 0.5em;
		}
	}
}

#islandora-bookmark-detailed-form-manage {
	background: #fff;
	a.fieldset-title:link, a.fieldset-title:visited {
		color: #009100;
		text-decoration: underline;
	}	
	a.fieldset-title:hover {
		color: #00A600;	
	}
	label {
		color: #777777;
		font-size: 67%;
		text-transform: uppercase;
	}
	.form-item-bookmarks-management-listname {
		margin: 0.5em;
	}
}

#islandora-bookmark-overview {
	table {
		width: 100%;
		tr {
			height: 3em;
			th {
				font-size: 67%;
				text-transform: uppercase;
				color: #777;
				text-shadow: 0 1px 0 #FFFFFF;	
				border-bottom: 2px solid #009100;
			}
			td {
				a:link, a:visited {
					color: #009100;
					text-decoration: underline;
				}
				a:hover, a.active {
					color: #00A600;
				}
			}
		}
	}
}

#block-islandora-bookmark-islandora-bookmark {
	float: left;
}

#islandora-bookmark-rss-format {
	display: none;
}

