////////////////////////
// Navigation Styling
////////////////////////

#navigation {
	right: 0;
	padding: 0;
	#main-menu {
		float: right;
		background: #000;
		height: 2.2em;
		padding: 8px 40px 0 10px;
		border-bottom: 1px solid #fff;
		ul {
			font-size: 80%;
			letter-spacing: 0.3pt;
			li {
				border-right: 1px solid #fff;
				margin-right: 8px;
				a:link, a:visited {
					color: #fff;
				}
				a:hover, a.active {
					color: #ffff00;
				}
			}
		}
	}
}

#langnavigation {
	position: relative;
	top: -2px;
	margin: 0;
	span.openclose {
		background: url("../images/icons/language-menu.png") no-repeat scroll 0 2px #000000;
		right: 10px;
		top: 10px;
		cursor: pointer;
		display: block;
		height: 23px;
		position: absolute;
		width: 23px;
		z-index: 10;
	}
	span.openclose.open {
	  background-position: -24px 2px;
	  margin-right: 3px;
	  img {
	  	display: none;
	  }
	}
	ul {
		position: absolute;
		right: 0;
		top: 22px;
		width: 50px;
		background: #000;
		list-style: none;
		padding: 0 3px;
		li {
			border-bottom: 1px solid #fff;
			padding: 2px 0;
			a {
				line-height: 16px;
				padding: 5px 0;
				color: #fff;
				img {
					margin: 4px 0 0;
				}
				span {
					display: inline-block;
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					margin: 0 0 0 5px;
				}
				em {
					display: none;
					font-style: normal;
					margin: 0 0 0 5px;
				}
			}
			a span:hover {
				text-decoration: underline;
			}
		}
	}
}


.browse-menu {
	background: #fff;
	float: left;
	width: 41%;
	padding: 20px 30px;
	border-bottom: 3px solid #009100;
	.browsecats {
		margin: 20px 0 0;
		ul {
			list-style: none outside none;
			margin: 0;
			overflow: hidden;
			padding: 0;
			li {
				float: left;
				a {
					background-color: #FFFFFF;
					color: #818181;
					display: block;
					font-family: 'Ropa Sans',Arial;
					font-size: 14px;
					font-style: italic;
					height: 80px;
					line-height: 1em;
					margin-bottom: 15px;
					position: relative;
					text-align: center;
					text-decoration: none;
					width: 79px;
					span.icon {
						background: url("../images/icons/sprite.png") no-repeat scroll right bottom transparent;
						display: block;
						height: 40px;
						margin: 0 auto 10px;
						opacity: 0.75;
						position: relative;
						transition: all 0.2s ease 0s;
						width: 41px;
					}
				}
				a:hover {
					text-decoration: underline;
				}
				a:hover span {
					opacity: 1;
				}
			}
			li.buildings span.icon {
				background-position: 0 0;
			}
			li.maps span.icon {
				background-position: 0 -42px;
			}
			li.documents span.icon {
				background-position: 0 -82px;
			}
			li.images span.icon {
				background-position: 0 -123px;
			}
			li.persons span.icon {
				background-position: 0 -164px;
			}
			li.organisations span.icon {
				background-position: 0 -205px;
			}
		}
	}
}