////////////////////////
// Page Styling
////////////////////////

body {
	background: #fff;
}

h1.page__title {
}

h2 {
    font-weight: 400;
    line-height: 1.3em;
    margin: 0 0 6px;
}

a:link, a:visited {
    color: #777;
    text-decoration: none;
}
a:hover, a:active {
    color: #121738;
}

.front #main {
    background: #F3F3F3;
	border-bottom: 1px solid #ccc;
	margin-top: 18em;
	padding: 0;
    margin-bottom: 5em;
}

#main {
    background: #fff;
}

#content {
}

ul.pager {
        li {
        }
}

// Frontpage Styling //

.not-front .find-map {
    position: relative;
    left: 43.5%;
}

.find-map {
    background-color: transparent;
    float: left;
    margin: -20px 0 17px 0px;
    padding: 0;
    width: 260px;

    a {
        background-color: #FFFFFF;
        border: 5px solid #DADADA;
        display: inline-block;
        margin-top: 10px;
        min-height: 51px;
        min-width: 80%;
        padding: 21px 20px 18px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: all 0.2s ease 0s;
        vertical-align: bottom;
        span.icon {
            background: url("../images/icons/sprite.png") no-repeat scroll -136px -1px transparent;
            display: inline-block;
            height: 47px;
            opacity: 0.75;
            position: relative;
            transition: all 0.2s ease 0s;
            width: 47px;
        }
        em {
            color: #717171;
            display: inline-block;
            font-family: 'Ropa Sans';
            font-size: 19px;
            font-style: italic;
            margin: 14px 0 0 10px;
            vertical-align: top;
        }
    }
    a:hover {
        border-color: #787878;
    }
    p {
        margin: 0;
    }
}

.front h2 {
    font-style: italic;
}

//Search Pages //

#page-title {
    font-size: 30px;
    font-weight: 400;
    line-height: 31px;
    left: 470px;
    margin: 0;
    position: relative;
    top: -130px;
    width: 55%;
}

.one-sidebar #page-title {
    @extend #page-title;
    left: 230px;
}

.region-sidebar-first {
    margin-top: 9.45em;
}

.simple-search {
   float: left; 
}

// Search grid view //

dl.solr-grid-field {
  margin: 0.5em 1%;
}

dd.solr-grid-caption {
    a:link, a:visited {
        color: #009100;
        font-size: 90%;
        text-decoration: underline;
    }
    a:hover, a.active {
        color: #00A600;
    }
}

// Record detail pages //

.shareoptions {
    clear: both;
    float: left;
    margin: 40px 0;
    width: 100%;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        li {
            float: left;
            a {
                background-color: #FFFFFF;
                border-bottom: 1px solid #CDCDCD;
                border-right: 1px solid #CDCDCD;
                border-top: 1px solid #CDCDCD;
                color: #818181;
                display: block;
                font-size: 10px;
                height: 53px;
                position: relative;
                text-align: center;
                text-decoration: none;
                width: 72px;
                span {
                    background: url("../images/icons/sprite.png") no-repeat scroll right bottom transparent;
                    display: block;
                    height: 21px;
                    margin: 10px auto 0;
                    opacity: 0.75;
                    position: relative;
                    transition: all 0.2s ease 0s;
                    width: 28px;
                }
            }
        }
        li.share span {
            background-position: -80px 0; 
        }
        li.save span {
            background-position: -80px -22px; 
        }
        li.export span {
            background-position: -80px -44px; 
        }
        li.cite span {
            background-position: -80px -66px; 
        }
        li:first-child a {
            border-left: 1px solid #CDCDCD;
        }
        li a:hover {
           text-decoration: underline; 
           span {
            opacity: 1;
           }
        }
    }
}