////////////////////////
// Views Styling
////////////////////////

.view-delft-front-page {
	float: left;
	max-width: 28%;
	min-width: 350px;
	padding: 30px;
	min-height: 380px;

	h2 {
		font-style: italic;
		line-height: 1.1em;
		font-size: 150%;
		a {
			color: #009100;
		}
	}
	p {
		color: #777;
		font-family: 'Ropa Sans';
		font-size: 95%;
	}
}

#block-views-image-blocks-block {
	h2 {
		font-size: 65%;
		text-transform: uppercase;
		color: #5A5A5A;
		margin-bottom: 1.5em;
	}
	img {
		padding: 0 5% 1.5em 0;
	}
}
